html, body {
    margin: 0;
    padding: 0;
}

#app {
  display: grid;

  grid-template-rows: 100px auto;
  grid-template-columns: 20% auto;
}

#main_page {
    padding: 20px;
    grid-column-start: 2;
    grid-row-start: 2;
    height: 100vh;

}

#left_side {
    background-color: aqua;
    grid-column-end: 2;
    grid-row-start: 2;
}

#header {
    background-color: magenta;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end : 3;
}