html, body::before {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#000050 5%, #00008b 75%, #7321f8);
    background-attachment: fixed;
}


body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/snow_falling3.gif");
    background-attachment: fixed;
    animation: snowfall 1s linear ; 
    z-index: -2; 
}

@keyframes snowfall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}


#app {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 20% auto;
}

#main_page {
    padding: 20px;
    grid-column-start: 2;
    grid-row-start: 2;
    height: 100vh;
}

#left_side {
    grid-column-end: 2;
    grid-row-start: 2;
    border-right: 1px solid white;
}

#header {
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end : 3;
    border-bottom: 1px solid white;
}

#cabin {
    position: fixed;
    width: 150px;
    height: 128px;
    bottom: 0px;
    z-index: 1;
}

#snow {
    left: 0;
    right: 0;
    bottom: 0;
    height: 22px;
    position: fixed;
    background-image: url("../../assets/snow.png");
}

#smoke {
    position: fixed;
    left: -100px;
    bottom: -73px;
    width: 200px;
    height: 200px;
    z-index: 2;
  }
  