#cnl {
  /*background-color: pink;*/
  margin-bottom: 10px;
  border-radius: 10px;

  display:grid;
  grid-template-columns: auto 60px 150px;
  height: 50px;

  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}

#cnl_info {
  grid-column: 3;
  display: flex;
  flex-direction: column;
}

#cnl_titre {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-justify: auto;
  grid-column: 1;
  margin-top: 15px
}


#cnl_date {
  color:grey;
}

#cnl_auteur {
  color:cyan;
  margin-bottom: -15px;
  margin-top: 7px;
}

#cnl_delete {
  position: relative;
  grid-column: 2;
  margin-left: 10px;
  margin-top: -10px;

  align-self: center;

  width: 25px;
  height: 25px;

  cursor: pointer;
  background: transparent;

  border: 1px solid white;
  border-radius: 5px;
}

#cnl_delete:hover {
  border-color: #5cb3ff;
  color: #5cb3ff;
}

#delete_icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15%;
  left: 18%;
  color:white;
}

#list_cnl {
  display: flex;
  flex-direction: column;
}

#nv_cnl {
  margin-bottom: 20px;
  margin-right: 10px;
}