#header {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 50px auto 50px;
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

#header_logo {
    grid-column-end: 1;
    grid-row-end: 2;
    width: 90px;
    padding-top: 5px;
    padding-left: 5px;
}

#header_search_bar {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#header_title {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: white;
}

#header_logout {
    grid-row-start: 2;
    grid-column-start: 3;
    margin-right: 10px;
    margin-left: 10px;
}