#info {
  background-color: transparent;

  border: 1px solid white;
  border-radius: 10px;

  width: 90%;
  height: 80px;
  margin: 0 auto;

  margin-top: 5px;
  margin-bottom: 5px;

  display:grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: auto;

  font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

#info_contenu {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-align: left;
  text-justify: auto;
  grid-row: 1;
  
}

#info_date {
  padding-right: 15px;
  color: #ddddffc5;
  grid-row: 2;
  text-align: right;
  align-self: center;
  font-style: italic;
}

#left_side {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  
}