#info {
  background-color: transparent;

  border: 1px solid white;
  border-radius: 10px;

  width: 90%;
  height: 80px;
  margin: 0 auto;

  margin-top: 5px;
  margin-bottom: 5px;

  display:grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: auto;

  font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

#info_contenu {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-align: left;
  text-justify: auto;
  grid-row: 1;
  
}

#info_title {
  text-align: right;
  font-weight: bold;
  text-decoration: underline;
  color: white;
  font-size: large;
  font-weight: 30;
  margin-top: -5px;
  margin-bottom: 5px;
}

#info_top {
  display:flex;
  align-items: baseline;
  gap: 10px;
  width: 60%;
  align-self: center;
  padding-left: 20%;
}

#info_refresh {
  align-self: left;
  grid-row: 1;
  grid-column: 3;

  width: 25px;
  height: 25px;

  cursor: pointer;
  background: transparent;

  border: 1px solid white;
  border-radius: 5px;
}

#info_refresh:hover {
  border-color: #5cb3ff;
  color: #5cb3ff;
}

#refresh_icon {
  width: 15px;
  height: 15px;
  top: 15%;
  left: 15%;
  color:white;
}

#info_date {
  padding-right: 15px;
  color: #ddddffc5;
  grid-row: 2;
  text-align: right;
  align-self: center;
  font-style: italic;
}

#left_side {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  
}