html,body {
    height:100vh;
    margin:0;
}

#login_page{
    display:flex;
    justify-content: center;
    height: 100vh;
}

#signin_form, #login_form, #en_attente {
    margin: auto;
    width: 400px;
    height: 260px;
    display: grid;
    align-items: center;

    background-color: transparent;
  
    border: 1px solid white;
    border-radius: 10px;

    padding:10px;
}

#en_attente {
    width: 200px;
    height: 70px;
}

#text_en_attente {
    font-weight: 500;
    text-align: center;
}

#passLabel, #cpassLabel, #loginLabel, #title, #changeFormSignin, #changeFormLogin {
    color: white;
}

#signin_form {
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 20% 15% 15% 15% 15% 7% 13%;
}

#login_form {
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 20% 20% 20% 20% 7% 13%;
}

#title {
    grid-column: 2/4;
    grid-row-end:2;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

#confirmSignin {
    grid-column: 2/4;
    grid-row: 5;
}

#confirmLogin {
    grid-column: 2/4;
    grid-row: 4;
}

#confirmSignin, #confirmLogin {
    text-align: center;
    border-radius: 5px;
    border: 0px;
    height: 30px;
}

#login {
    grid-column: 3;
    grid-row: 2;
}

#loginLabel {
    grid-column: 2;
    grid-row: 2;
}

#pass {
    grid-column: 3;
    grid-row: 3;
}

#login, #pass, #cpass {
    border-radius: 5px;
    border: 0px;
    height: 25px;
}

#passLabel {
    grid-column: 2;
    grid-row: 3;
}

#cpass {
    grid-column: 3;
    grid-row: 4;
}

#cpassLabel {
    grid-column: 2;
    grid-row: 4;
}

#messageErreurSignin, #messageErreurLogin {
    grid-row: 6;
    grid-column: 1/6;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 65, 65);
}

#messageErreurLogin {
    grid-row: 5;
}

#changeFormLogin, #changeFormSignin{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    grid-column: 2/4;
}

#changeFormLogin {
    grid-row:6;
}

#changeFormSignin {
    grid-row:7;
}