#msg {
  background-color: transparent;

  border: 1px solid white;
  border-radius: 10px;

  width: 65%;
  margin: 0 auto;
  margin-bottom: 10px;

  display:grid;
  grid-template-rows: [top] 60px [bottom];
  grid-template-columns: [left] 70px [right] auto [end] 200px;

  font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

#msg_auteur {
  color: #5cb3ff ;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  font-size: 20px;
  align-self: center;
}

#msg_contenu {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-justify: auto;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  
}

#msg_photo {
  padding-left: 10px;
  padding-top: 10px;
  width: 50px;
  height: 50px; 
  grid-row-start: top;
  grid-row-end: top;
  grid-column-start: left;
  grid-column-end: left;
}

#msg_date {
  padding-right: 15px;
  color: #ddddff;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  text-align: right;
  align-self: center;
}

#msg_repondre{
  position: relative;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  
  align-self: center;

  width: 25px;
  height: 25px;

  cursor:pointer;
  background: transparent;

  border: 1px solid white;
  border-radius: 5px;

}

#msg_repondre:hover{
  border-color: #5cb3ff;
}

#reply_icon{
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15%;
  left: 15%;
}


#list_msg {
  display: flex;
  flex-direction: column;
}

#nv_msg {
  margin-bottom: 20px;
  margin-right: 10px;
}
