#msg {
  background-color: transparent;

  border: 1px solid white;
  border-radius: 10px;

  width: 65%;
  margin: 0 auto;
  margin-bottom: 10px;

  display: grid;
  grid-template-rows: [top] 60px auto [bottom] auto;
  grid-template-columns: [left] 70px [right] auto [end] 220px;

  font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial,
    sans-serif;
}

#scroll {
  width: 100%;
  height: 55vh;
  overflow-y: auto;
  margin-bottom: 10px;
}

#msg_title {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: white;
  font-size: x-large;
  font-weight: 120;
}

#msg_info {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  align-self: center;
  padding-top: 7px;
}

#msg_auteur, #msg_canal {
  color: #5cb3ff;
  font-size: 20px;
}

#msg_canal {
  font-style: italic;
  font-size: 16px;
  color: #d8c37d;
  text-decoration: none;
}

#msg_contenu {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-justify: auto;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

#msg_reply_box {
  margin: 10px 20px;
  margin-bottom: -5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-rows: auto auto;
}

#msg_reply_author #auteur {
  color: rgb(255, 52, 52);
  margin-left: 15px;
  margin-bottom: -5px;
  margin-top: 5px;
  text-justify: auto;
  grid-row: 1;
}

#msg_reply_author {
  color: white;
  margin-left: 8px;
  margin-bottom: -5px;
  margin-top: 5px;
  text-justify: auto;
  grid-row: 1;
}

#msg_reply {
  color: white;
  margin-top: 10px;
  margin-bottom: 7px;
  margin-left: 8px;
  text-justify: auto;
  grid-row: 2;
}

#reply_icon_box {
  position: relative;
  width: 14px;
  height: 14px;
  margin-top: -50px;
  margin-left: 5px;
  
}

#msg_photo {
  margin-left: 10px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  grid-row: top;
  grid-column: left
}

#msg_date {
  padding-right: 15px;
  color: #ddddff;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  text-align: right;
  align-self: center;
}

#msg_repondre, #msg_delete {
  position: relative;
  grid-row: 1;
  grid-column: 3;

  align-self: center;

  width: 25px;
  height: 25px;

  cursor: pointer;
  background: transparent;

  border: 1px solid white;
  border-radius: 5px;
}

#msg_delete {
  margin-left: 30px;
}

#msg_repondre:hover, #msg_delete:hover {
  border-color: #5cb3ff;
  color: #5cb3ff;
}

#reply_icon, #delete_icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15%;
  left: 15%;
  color:white;
}


#list_msg {
  display: flex;
  flex-direction: column;
}

#retour {
  color: white;
  margin-right: 10px;
}

#fil_discussion {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
}

#zone_nv_msg {
  margin-top: 10px;
  width: 40%;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 50% 50%;
  row-gap: 8px;
  column-gap: 5px;
  align-items: center;
}

#reply_nv_msg {
  justify-content: center;
  display:flex;
  flex-direction: horizontal;
  gap: 10px;
  align-self:flex-end;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}