body {
    color: white;
}

#profile_photo {
    height: 100px;
    width: 100px;
}

#profile_username {
}

#profile_note {
    
}

#modif_icon {
    height: 10px;
    width: 10px;
}

#user {
    border-bottom: 1px solid white;
}