body {
    color: white;
}

.profile_photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#modif_icon {
    height: 50px;
    width: 50px;
    
}

#date {
    text-align: right;
}

#user {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#button_add_admin {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

#nb_messages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

#button_add_admin:hover {
    border-color: #5cb3ff;
    color: #5cb3ff;
}

#retour {
    color:white;
    margin-right: 10px;
}