body {
    color: white;
}

#profile_photo {
    height: 100px;
    width: 100px;
}

#modif_icon {
    height: 50px;
    width: 50px;
    
}

#date {
    text-align: right;
}

#user {
    border-bottom: 1px solid white;
}