body {
    color: white;
}

.profile_photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

#modif_icon {
    height: 50px;
    width: 50px;
}

#date {
    text-align: right;
}

#profile_username {
    margin-bottom: -40px;
}

#status {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

#user {
    padding-bottom: 0;
    border-bottom: 1px solid white;
}

#button_add_admin {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-bottom: -30px;
}

#nb_messages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

#button_add_admin:hover {
    border-color: #5cb3ff;
    color: #5cb3ff;
}

#retour {
    color:white;
    margin-right: 10px;
}

#changer_statut {
    display:flex;
    flex-direction: vertical;
    gap: 10px;
    margin-bottom: 10px;
}

#profil_msg {
    margin-bottom: 30px;
}

#profil_scrollview {
    width: 100%;
    max-height: 40vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username_zone {
    display: flex;
    align-items: baseline;
    gap: 10px;
}