body {
    color: white;
}

.profile_photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

#modif_icon {
    height: 50px;
    width: 50px;
}

#date {
    text-align: right;
}

#profile_username {
    margin-bottom: 10px;
}

#status {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

#user {
    padding-bottom: 0;
    border-bottom: 1px solid white;
}

#nb_messages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

#retour {
    color:white;
    margin-right: 10px;
}

#changer_statut {
    display:flex;
    flex-direction: vertical;
    gap: 10px;
    margin-bottom: 10px;
}

#profil_msg {
    margin-bottom: 30px;
}

#profil_scrollview {
    width: 100%;
    max-height: 36vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username_zone {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

input[type="file"] {
    color: transparent;
    display: none;
}
  
#change_photo_button {
    align-self: center;
  
    width: 25px;
    height: 25px;
  
    cursor: pointer;
    background: transparent;
  
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
}

#change_photo_button:hover{
    border-color: #5cb3ff;
    color: #5cb3ff;
}

#change_photo_icon {
    width: 20px;
    color: white;
    height: 20px;
}

.text {
    color: white;
    margin: 0px;
    padding-bottom: 3px;
}

#profile_ban, #profile_set_admin {
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
}

#profile_ban:hover, #profile_set_admin:hover {
    border-color: #5cb3ff;
    color: #5cb3ff;
}

#profile_actions {
    display: flex;
    gap: 10px;
    margin-bottom: -37px;
}